<div class="card panel panel-default ks-comments-section" [ngClass]="{'ks-no-arrow' : !isArrow}">
  <div *ngIf="comments" class="ks-comment">
    <ng-container *ngFor="let firstComments of comments">
      <ng-container *ngFor="let comment of firstComments.groupComments">
        <div *ngIf="comment.level===0" class="ks-body">
          <a href="javascript:void(0);" class="ks-avatar">
            <img src="{{comment.user.currentAvatar}}" width="36" height="36">
          </a>
          <div class="ks-comment-box">
            <div class="ks-name">
              <a href="javascript:void(0);">{{comment.createdBy}}</a>
              <span class="ks-time">{{comment.createdAt | timezone}}</span>
            </div>
            <div [innerHTML]="comment.comment" class="ks-message"></div>
            <div class="ks-controls">
              <a href="javascript:void(0);" (click)="addReply(comment)" class="ks-control">Reply</a>
              <a href="javascript:void(0);" class="ks-control">Hide Replies</a>
              <a href="javascript:void(0);" class="ks-control">View 36 Replies</a>
            </div>
          </div>
        </div> 
      </ng-container>  
      <ng-container *ngFor="let response of firstComments.groupComments">
            <div *ngIf="response.level!==0" class="ks-replies">
              <div class="ks-reply">
                <a href="javascript:void(0);" class="ks-avatar">
                  <img src="{{response.user.currentAvatar}}" width="36" height="36">
                </a>
                <div class="ks-reply-box">
                  <div class="ks-name">
                    <a href="javascript:void(0);">{{response.createdBy}}</a>
                    <span class="ks-time">{{response.createdAt | timezone}}</span>
                  </div>
                  <div [innerHTML]="response.comment" class="ks-message"></div>
                  <div class="ks-controls">
                    <a href="javascript:void(0);" (click)="addReply(response)" class="ks-control">Reply</a>
                    <a href="javascript:void(0);" class="ks-control">Edit</a>
                    <a href="javascript:void(0);" class="ks-control">Delete</a>
                    <a href="javascript:void(0);" class="ks-control">Hide Replies</a>
                    <a href="javascript:void(0);" class="ks-control">View 36 Replies</a>
                  </div>
                </div>
              </div>
          </div> 
      </ng-container>
    </ng-container>
  </div>
  <!-- Comment Form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="ks-new-comment">
      <!-- Comment textarea -->
      <div class="form-group" [ngClass]="{'has-error': (!comment.valid && comment.dirty), 'has-success': (comment.value && comment.valid)}">
        <textarea  [id]="textareaComment" [froalaEditor]="froalaOptions" (froalaInit)="initializeFroala($event)" formControlName="comment" capitalize class="form-control"></textarea>
        <!-- Validation -->
        <span *ngIf="comment.errors?.required && comment.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
        <span *ngIf="comment.errors?.maxlength && comment.dirty " class="help-block form-error" translate>{{'validation.about-yourself-length'}}</span>
      </div>     
    </div>
    <div class="form-group text-center">
      <button [disabled]="!form.valid || submitted " type="submit" class="btn btn-default" translate>{{'auth-form.sign-up'}}</button>
    </div>
  </form>
 
</div>
