<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator">
      <ul class="nav ks-nav-tabs">
        <li class="nav-item">   
        <a class="nav-link nav-eu" href="#" data-toggle="tab" data-target="#tab1" translate>
          <span class="la la-users">
            <span class="icon-number badge" translate>{{'navbar.eu-short'}}</span>
          </span>
        </a>
        </li>
        <li class="nav-item">   
          <a class="nav-link nav-es" href="#" data-toggle="tab" data-target="#tab2" translate>
            <span class="la la-users">
              <span class="icon-number badge" translate>{{'navbar.es-short'}}</span>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-en" href="#" data-toggle="tab" data-target="#tab3">
            <span class="la la-users">
              <span class="icon-number badge" translate>{{'navbar.en-short'}}</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="tab-content">
    <div class="tab-pane nav-eu" id="tab1" role="tabpanel">
    <span class="ks-name">bbbb</span>
      <app-category-form *ngIf="inputParentCategories && inputCategory" [inputOperation]="'edit'" [inputCategory]="inputCategory" [inputParentCategories]="inputParentCategories"></app-category-form>
    </div>
    <div class="tab-pane nav-es" id="tab2" role="tabpanel" >
      <div class="ks-user">
        <span class="badge badge-pill badge-default ks-label la like-btn-like"></span>
          <span class="ks-name">bbbb</span>   
      </div>
    </div>
    <div class="tab-pane nav-en" id="tab3" role="tabpanel">
      <div class="ks-user">
        <span class="badge badge-pill badge-default ks-label la like-btn-love"></span>
          <span class="ks-name">cccc</span>   
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="confirmModal()">Acept</button>
    <button class="btn btn-primary confirm-btn" (click)="cancelModal()">Close</button>
  </div>
</div>

