<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <article [hidden]="event.showAll" *ngFor="let event of events let i=index;" class="card panel ks-widget ks-widget-post">
              <h5 class="card-header">
                <ng-container *ngFor="let translation of event.translation">
                  <span *ngIf="translation.language===localizeService.parser.currentLang" class="ks-text"> {{translation.title}} 
                  </span>
                  <i [routerLink]="['/event-route','see-route',event._id] | localize" class="la la-eye ks-icon view-event"></i>
                </ng-container>
                  <span *ngIf="event.language===localizeService.parser.currentLang||event.translation.length===0" class="ks-text"> {{event.title}} 
                  <i [routerLink]="['/event-route','see-route',event._id] | localize" class="la la-eye ks-icon view-event"></i>
                  </span>
                <div class="ks-controls">
                  <!-- showCollapse-->
                  <a *ngIf="!event.showCollapse" (click)="event.showCollapse = !event.showCollapse" class="ks-control">
                    <span class="ks-icon la la-minus"></span>
                  </a>
                  <a *ngIf="event.showCollapse" (click)="event.showCollapse = !event.showCollapse" class="ks-control">
                    <span class="ks-icon la la-expand"></span>
                  </a>
                  <a (click)="event.showAll = !event.showAll" class="ks-control">
                    <span class="ks-icon la la-close"></span>
                  </a>
                </div>
              </h5>
              <div *ngIf="!event.showCollapse" class="card-block">
                <!-- Date/Time -->
                <div class="event-datetime">
                  <div class="event-datetime-day" [innerHTML]="getDatePoster(event.start).day"></div>
                  <div class="event-datetime-subcontainer">
                    <div class="event-datetime-month">
                      <span>{{getDatePoster(event.start).month}}</span>
                    </div>
                    <div class="event-datetime-date">
                      <div class="event-datetime-day-num" [innerHTML]="getDatePoster(event.start).dayNumber"></div>
                      <div class="event-datetime-hour"><span class="la la-clock-o ks-icon"></span>{{getDatePoster(event.start).hour}}</div>
                    </div>
                  </div>
                </div>
                <img *ngIf="event.images.poster.length>0" src="{{event.images.poster[0].url}}" class="post-image ks-thumbnail img-responsive">
                <img *ngIf="event.images.poster.length==0" src="assets/img/defaults/event/default-{{localizeService.parser.currentLang}}.png" class="post-image ks-thumbnail img-responsive">
                <div class="ks-text" [innerHTML]="event.description"></div>
                <div class="ks-actions">
                  <!--
                  <p class="time">
                    <span class="la la-user ks-icon"></span>
                    <span translate>{{'event.created-by'}}</span> {{event.createdBy}}
                  </p>
                  <button [routerLink]="['/event-route','see-route',event._id] | localize" class="btn btn-success right" translate>{{'event.see-event'}}</button>
                -->
                  <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                    <span class="la la-comment-o ks-icon"></span>
                  <span class="ks-amount">{{event.comments.length}}</span>
                  </span>
                  <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like">
                    <span class="la la-heart-o ks-icon"></span>
                  <span class="ks-amount">{{event.reactions.angryBy.length +event.reactions.hahaBy.length +event.reactions.likeBy.length +event.reactions.loveBy.length +event.reactions.sadBy.length +event.reactions.wowBy.length}}</span>
                  </span>
                </div>
                <!--
                <div class="ks-likes-block">
                  <div class="ks-users">
                    <a href="#" class="ks-user">
                      <img class="ks-avatar" src="assets/img/avatars/avatar-1.jpg" width="26" height="26">
                    </a>
                    <a href="#" class="ks-user">
                      <img class="ks-avatar" src="assets/img/avatars/avatar-7.jpg" width="26" height="26">
                    </a>
                    <a href="#" class="ks-user">
                      <img class="ks-avatar" src="assets/img/avatars/avatar-11.jpg" width="26" height="26">
                    </a>
                    <a href="#" class="ks-user">
                      <img class="ks-avatar" src="assets/img/avatars/avatar-2.jpg" width="26" height="26">
                    </a>
                    <a href="#" class="ks-user">
                      <img class="ks-avatar" src="assets/img/avatars/avatar-6.jpg" width="26" height="26">
                    </a>
                  </div>
                  <span class="ks-text">and 103 other like this</span>
                </div>
                -->
                <div class="ks-comments">
                </div>
              </div>
            </article>
            <!--<ngb-pagination *ngIf="events" [collectionSize]="events.length" [(page)]="page" [pageSize]="1" [maxSize]="5" [boundaryLinks]="true" size="lg"></ngb-pagination>-->
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!--<right-sidebar></right-sidebar>-->
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
