<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th translate>{{'event-form.created-by'}}</th>
                  <th translate>{{'event-form.category'}}</th>
                  <th translate>{{'event-form.title'}}</th>
                  <th translate>{{'event-form.description'}}</th>
                  <th translate>{{'event-form.province'}}</th>
                  <th translate>{{'event-form.municipality'}}</th>
                  <th translate>{{'crud.edit-delete'}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of events; let i=index">
                  <td>{{event.createdBy}}</td>
                  <td>{{event.category.title}}</td>
                  <td>{{event.title}}</td>
                  <td [innerHTML]="event.description"></td>
                  <td>{{event.place.province.name}}</td>
                  <td>{{event.place.municipality.name }}</td>
                  <td class="ks-status">
                    <a href="javascript:void(0)" [routerLink]="['/user-route','events-route','edit-route',event._id] | localize"><span class="fa fa-edit ks-color-info" translate>{{'crud.edit'}}</span></a>
                    <a href="javascript:void(0)" (click)="eventDeleteClick(i,event)"><span class="fa fa-trash ks-color-danger" translate>{{'crud.delete'}}</span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!--<ba-right-sidebar></ba-right-sidebar>-->
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
