
<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th translate>{{'application-form.title'}}</th>
                  <th translate>{{'application-form.entity-name'}}</th>
                  <th translate>{{'application-form.conditions'}}</th>
                  <th translate>{{'application-form.license'}}</th>
                  <th translate>{{'application-form.price'}}</th>
                  <th translate>{{'application-form.expiry-date'}}</th>
                  <th translate>{{'crud.edit-delete'}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let application of applications; let i=index">
                  <td>{{application.title}}</td>
                  <td>{{application.entityName}}</td>
                  <td>{{application.conditions}}</td>
                  <td>{{application.licenseName}}</td>
                  <td>{{application.price}}</td>
                  <td>{{application.expiredAt}}</td>
                  <td class="ks-status">
                    <a href="javascript:void(0)" [routerLink]="['/admin-route','applications-route','edit-route',application._id] | localize"><span class="fa fa-edit ks-color-info" translate>{{'crud.edit'}}</span></a>
                    <a href="javascript:void(0)" (click)="applicationDeleteClick(i,application)"><span class="fa fa-trash ks-color-danger" translate>{{'crud.delete'}}</span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!--<ba-right-sidebar></ba-right-sidebar>-->
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
