<!-- Custom Success/Error Message -->
<div class="row">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="deleteTrigger" class="row-border hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th translate>{{'event-form.created-by'}}</th>
      <th translate>{{'event-form.category'}}</th>
      <th translate>{{'event-form.title'}}</th>
      <th translate>{{'event-form.description'}}</th>
      <th translate>{{'event-form.province'}}</th>
      <th translate>{{'event-form.municipality'}}</th>
      <th translate>{{'crud.delete'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eventApplication of eventsApplication; let i=index">
      <td>{{eventApplication.createdBy}}</td>
      <td>{{eventApplication.category.title}}</td>
      <td>{{eventApplication.title}}</td>
      <td [innerHTML]="eventApplication.description"></td>
      <td>{{eventApplication.place.province.name}}</td>
      <td>{{eventApplication.place.municipality.name}}</td>
      <td class="ks-status">
        <a href="javascript:void(0)" (click)="deleteEventApplicationTable(i)"><span class="fa fa-trash ks-color-danger" translate>{{'crud.delete'}}</span></a>
      </td>
    </tr>
  </tbody>
</table>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="addTrigger" class="row-border hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th translate>{{'event-form.created-by'}}</th>
      <th translate>{{'event-form.category'}}</th>
      <th translate>{{'event-form.title'}}</th>
      <th translate>{{'event-form.description'}}</th>
      <th translate>{{'event-form.province'}}</th>
      <th translate>{{'event-form.municipality'}}</th>
      <th translate>{{'crud.add'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; let i=index">
      <td>{{event.createdBy}}</td>
      <td>{{event.category.title}}</td>
      <td>{{event.title}}</td>
      <td [innerHTML]="event.description"></td>
      <td>{{event.place.province.name}}</td>
      <td>{{event.place.municipality.name }}</td>
      <td class="ks-status">
        <a href="javascript:void(0)" (click)="addEventApplicationTable(i)"><span class="fa fa-plus ks-color-success" translate>{{'crud.add'}}</span></a>
      </td>
    </tr>
  </tbody>
</table>
