<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card panel ks-widget ks-widget-post">
              <h5 class="card-header">
              <span class="ks-text"> aaaaa</span>
            </h5>
              <div class="card-block">
                <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-widget-attachments">
                  <ul class="nav ks-nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab1" translate>
                        <span class="ks-icon la la-user text-info"></span>
                        {{'events.edit-events'}}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="tab" data-target="#tab2" translate>
                        <span class="ks-icon la la-camera text-success"></span>
                        {{'events.add-aplication'}}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="tab" data-target="#tab3">
                        <span class="ks-icon la la-file-text-o text-danger"></span>
                        Tab 3
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1" role="tabpanel">
                      <app-see-events></app-see-events>
                    </div>
                    <div class="tab-pane" id="tab2" role="tabpanel">
                      <app-add-events-aplication></app-add-events-aplication>
                    </div>
                    <div class="tab-pane" id="tab3" role="tabpanel">
                      Czzzzz
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
