<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <div class="row">
          <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <app-event-form *ngIf="event"
            [id]="event._id" 
            [createdBy]="event.createdBy"
            [editTitle]="event.title"
            [editCategories]="categories"
            [editParticipants]="event.participants"
            [editProvince]="place.province"
            [editMunicipality]="place.municipality"
            [editStart]="event.start"
            [editEnd]="event.end"
            [editLocation]="place.location"
            [editLat]="place.coordinates.lat"
            [editLng]="place.coordinates.lng"
            [editDescription]="event.description"
            [editObservations]="event.observations"
            [editImagesPoster]="event.images.poster"
            [editImagesDescription]="event.images.description"
            [operation]="'edit'"
            ></app-event-form>
          </section>
          <aside class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!--<ba-right-sidebar></ba-right-sidebar>-->
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
