<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid ks-rows-section">
        <app-application-form [operation]="'create'"></app-application-form>
        
        <!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Parent ID</th>
              <th>Level</th>
              <th>Event</th>
              <th>User</th>
              <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let categoryGroup of categories">
              <tr *ngFor="let category of categoryGroup.value | sort :'level':false let i=index">
                <td>{{ category._id }}</td>
                <td>{{ category.parentId}}</td>
                <td>{{ category.level}}</td>
                <td>{{ category.event }}</td>
                <td>{{ category.user }}</td>
                <td class="ks-status">
                  <a href="javascript:void(0)" (click)="categoryEditClick(category)"><span class="fa fa-edit ks-color-info">Edit</span></a>
                  <a href="javascript:void(0)" (click)="categoryDeleteClick(i,category)"><span class="fa fa-trash ks-color-danger">Delete</span></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>-->
      </div>
    </div>
  </div>
</div>
