<!-- Custom Success/Error Message -->
<div class="row">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<!-- Archeology Form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="row">
    <!-- Title -->
    <div class="col-sm-12">
      <div class="form-group required" [ngClass]="{'has-error': (!title.valid && title.dirty), 'has-success': (title.valid)}">
        <label for="inputTitle" translate>{{'aplication-form.title'}}</label>
        <input [formControl]="title" capitalize type="text" class="form-control" id="inputTitle">
        <!-- Validation -->
        <span *ngIf="title.errors?.required && title.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
        <span *ngIf="title.errors?.minlength && title.dirty || title.errors?.maxlength && title.dirty " class="help-block form-error" translate>{{'validation.title-length'}}</span>
        <span *ngIf="title.errors?.validateAlphanumeric && title.dirty" class="help-block form-error" translate>{{'validation.title-validation'}}</span>
      </div>
    </div>
     <!-- Entity -->
    <div class="col-sm-12">
      <div class="form-group required" [ngClass]="{'has-error': (!entityName.valid && entityName.dirty), 'has-success': (entityName.valid)}">
        <label for="inputEntity" translate>{{'aplication-form.entity-name'}}</label>
        <input [formControl]="entityName" capitalize type="text" class="form-control" id="inputEntity">
        <span *ngIf="entityName.errors?.minlength && entityName.dirty || entityName.errors?.maxlength && entityName.dirty " class="help-block form-error" translate>{{'validation.entityName-length'}}</span>
      </div>
    </div>
    <!-- User -->
    <div class="col-sm-12">
      <div class="form-group required" [ngClass]="{'has-error': (!user.valid && user.dirty), 'has-success': (user.valid)}">
        <label for="textareaUser" translate>{{'aplication-form.users'}}</label>
        <div class="input-group icon">
          <input (keyup)="searchTerm.next($event.target.value)" [formControl]="user" capitalize type="text" class="form-control" id="inputUser">
          <div class="input-group-append ">
            <button (click)="addUser()" type="button" class="btn btn-success ks-light ks-no-text">
              <span class="la la-plus ks-icon"></span>
            </button>
          </div>
        </div>
        <table click-outside (clickOutside)="onClickOutside()" *ngIf="searchTerm.observers[0].destination.key && search" class="table table-hover ks-table-cells-vertical-align-middle ks-crm-contacts-users-list-column-table">
          <tbody>
            <tr (click)="selectUser(i)" *ngFor="let user of usersSearch; let i=index">
              <td width="1">
                <img src="{{user.currentAvatar}}" class="ks-avatar rounded-circle" width="36" height="36">
              </td>
              <td width="200">
                <div class="ks-name">{{user.username}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Users list -->
    <div class="col-sm-12">
      <div class="form-group">
        <label *ngFor="let user of selectedUsers" class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{user}}</span>
        </label>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group required" [ngClass]="{'has-error': (!license.valid && license.dirty), 'has-success': (license.valid)}">
        <label for="textareaLicense" translate>{{'aplication-form.license'}}</label>
        <input [formControl]="license" capitalize type="text" class="form-control" id="inputLicense">
        <!-- Validation -->
        <span *ngIf="license.errors?.required && license.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
      </div>
    </div>
    <!-- Conditions input -->
    <div class="col-sm-12">
        <div class="form-group required" [ngClass]="{'has-error': (!condition.valid && condition.dirty), 'has-success': (condition.valid)}">
            <label for="inputCondition" translate>{{'aplication-form.conditions'}}</label>
            <div class="input-group icon">
                <input [formControl]="condition" capitalize type="text" class="form-control" id="inputCondition">
                <div class="input-group-append ">
                    <button (click)="addCondition()" type="button" class="btn btn-success ks-light ks-no-text">
                        <span class="la la-plus ks-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Condition list -->
    <div class="col-sm-12">
        <div class="form-group">
            <label *ngFor="let condition of conditions" class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{condition}}</span>
            </label>
        </div>
    </div>
     <!-- Price -->
    <div class="col-sm-12">
      <div class="form-group required" [ngClass]="{'has-error': (!price.valid && price.dirty), 'has-success': (price.valid)}">
        <label for="inputPrice" translate>{{'aplication-form.price'}}</label>
        <input [formControl]="price" capitalize type="text" class="form-control" id="inputPrice">
        <!-- Validation -->
        <span *ngIf="price.errors?.required && price.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
      </div>
    </div>
    <!-- ExpiryDate -->
    <div class="col-sm-6">
      <div class="form-group required" [ngClass]="{'has-error': (!expiryDate.valid && expiryDate.dirty), 'has-success': (expiryDate.valid)}">
        <label for="inputExpiryDate" translate>{{'aplication-form.expiry-date'}}</label>
        <div class="input-group icon">
          <input [formControl]="expiryDate" ngbDatepicker #calendarExpiryDate="ngbDatepicker" capitalize type="text" class="form-control ks-placeholder-mask-input" placeholder="yyyy-mm-dd" id="inputExpiryDate">
          <div class="input-group-append ">
            <button (click)="calendarExpiryDate.toggle()" type="button" class="btn btn-success ks-light ks-no-text">
              <span class="la la-calendar ks-icon"></span>
            </button>
          </div>
        </div>
        <!-- Validation -->
        <span *ngIf="expiryDate.errors?.required && expiryDate.dirty" class="help-block form-error" translate>{{'validation.required'}}</span>
        <!--<span *ngIf="expiryDate.errors?.validateDate && expiryDate.dirty" class="help-block form-error" translate>
                            {{'validation.expiryDate-validation'}}</span>-->
      </div>
    </div>
    <!-- ExpiryDate time-->
    <div class="col-sm-6 margin-top">
      <div class="form-group required">
        <ngb-timepicker [(ngModel)]="timeExpiryDate" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
      </div>
    </div>
    <!-- Submit Button -->
    <div class="col-sm-12">
      <div class="form-group text-center">
        <button [disabled]="!form.valid || selectedUsers.length<=0 || conditions.length<=0 || submitted" type="submit" class="btn btn-default btn-auth" translate>{{'aplication-form.send'}}</button>
      </div>
    </div>
  </div>
</form>
