<div class="ks-page-content">
  <div class="ks-page-content-body ks-full-height">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid">
        <div class="ks-pricing-plans-page">
          <div class="ks-header">
            <h3 class="ks-name">Itziarko udala</h3>
            <div class="ks-description">Deskribapen orokorra</div>
          </div>
          <div class="ks-plans">
            <!--<div class="ks-plan">
              <div class="ks-header">
                <h5 class="ks-name">Herriko festak</h5>
                <div class="ks-price">
                  <div class="ks-currency">€</div>
                  <div class="ks-amount">250</div>
                  <div class="ks-period">/urtean</div>
                </div>
              </div>
              <div class="ks-body">
                <ul class="ks-list">
                  <li>Aktualizaziok</li>
                  <li>Datu basea</li>
                  <li>Iraungitze data : 2019/08/12</li>
                  <li>kudeatzailea:kodekoop</li>
                </ul>
                <a [routerLink]="['/user-route','aplications-route','edit-route',aplication._id] | localize" href="#" class="btn btn-primary btn-block ks-light" translate>{{'aplication.edit-alication'}}</a>
              </div>
            </div>-->
            <div *ngFor="let aplication of aplications" class="ks-plan ks-info">
              <div class="ks-header">
                <h5 class="ks-name">{{aplication.title}}</h5>
                <div class="ks-price">
                  <div class="ks-currency">€</div>
                  <div class="ks-amount">{{aplication.license.price}}</div>
                  <div class="ks-period">/urtean</div>
                </div>
              </div>
              <div class="ks-body">
                <ul class="ks-list ks-success">
                  <li *ngFor="let condition of aplication.license.conditions">{{condition}}</li>
                </ul>
                <a [routerLink]="['/user-route','aplications-route',aplication._id,'edit-events-route'] | localize" href="javascript:void(0);" class="btn btn-info btn-block" translate>{{'aplication.edit-aplication'}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
